.citacao {
  margin-top: 1%;
  text-align: center;
  font-size: 200%;
  color: green;
  font-style: italic;
}

.autor {
  font-size: 150%;
  color: green;
  padding-left: 69%;
}

.img_index {
  width: 100%;
}

hr {
  text-align: center;
  width: 20%;
}

.texto {
  text-indent: 4%;
  padding-right: 15%;
  padding-left: 8%;
  font-size: 150%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
}

.titulo {
  text-align: center;
  color: green;
  font-size: 200%;
  font-family: "Arial Narrow Bold", sans-serif;
}

.img_text{
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  width: 45%;
}

.img_galery{
  margin-top: 6%;
  width: 100%;
  display: block;
  margin-left: auto; 
  margin-right: auto;
}

/* Responsivo */

@media (max-width: 1600px) {

  .texto {
    font-size: 130%;
  }

  hr {
    width: 50%;
  }

  .titulo {
    font-size: 170%;
  }

  .img_text{
    margin-top: 6%;
    width: 45%;
  }

  .citacao {
    margin-right: 6%;
    margin-left: 6%;
    margin-top: 3%;
    font-size: 200%;
  }
  
  .autor {
    font-size: 150%;
  }
}

@media (max-width: 1400px) {

  .texto {
    font-size: 130%;
  }

  hr {
    width: 50%;
  }

  .titulo {
    font-size: 170%;
  }

  .img_text{
    margin-top: 6%;
    width: 45%;
  }

  .citacao {
    margin-right: 6%;
    margin-left: 6%;
    margin-top: 1%;
    font-size: 200%;
  }

  .autor {
    font-size: 150%;
  }

}

@media (max-width: 900px) {
  body{
    background-color: blueviolet;
  }

  .texto {
    font-size: 115%;
  }
  
  .titulo {
    font-size: 135%;
  }
  
  .img_text{
    width: 50%;
  }
  
  .citacao {
    margin-right: 6%;
    margin-left: 6%;
    margin-top: 1%;
    font-size: 175%;
  }
  
  .autor {
    font-size: 130%;
  }
}

@media (max-width: 800px) {
  body{
    background-color: blue;
  }

}

@media (max-width: 700px) {
  body{
    background-color: brown;
  }
  

}

@media (max-width: 600px) {


}

@media (max-width: 500px) {

}

@media (max-width: 450px) {


}

@media (max-width: 400px) {


}

@media (max-width: 350px) {

  
}

@media (max-width: 300px) {

}
